@media only screen and (min-width:768px) {
    /* styling of main section */
    main {
        width: 100%;
        margin: 0 auto;
        max-width: unset;
    }
    #mobile {
        display: none;
    }
    #desktop {
        display: block;
    }
    .content {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
    }
    main .img-container {
        height: 30.9rem;
        width: 44.2rem;
        margin: 0 4rem;
    }
    .text-container-2 h2, .text-container-2 > p {
        max-width: 42.9rem;
        margin-left: 4rem;
        text-align: left;
    }
    .text-container-2 > p {
        margin-top: 1.6rem;
    } 
    .text-container-2 {
        text-align: left;
    }
    .link {
        padding-bottom: 0.6rem;
        margin: 1.5rem 0 5rem 4rem;
    }
    .card {
        margin: 0 0 0 4rem;
        width: 28rem;
        max-width: unset;
    }
    /* styling of intro */
    .intro {
        display: flex;
        justify-content: space-around;
        flex-direction: row-reverse;
        align-items: center;
        max-width: unset;
        text-align: left;
    }
    .intro .img-container {
        width: 30.4rem;
        height: 28rem;
    }
    .intro h1 {
        text-align: left;
        margin: 4rem 0 2.4rem 3.5rem;
        max-width: 35rem;
    }
    .intro p {
        margin: 0 0 1.6rem 3.5rem;
        text-align: left;
        max-width: 35rem;
    }
}

@media only screen and (min-width:1020px) {
    /* styling of intro */
    .intro .img-container {
        width: 64rem;
        height: 47.4rem;
    }
    /* styling of header */
    header img {
        height: 4.9rem;
        margin: 6.5rem 0 0 8rem;
    }
    header .header-nav {
        margin-right: 8rem;
    }
    .header-nav ul li {
        margin: 8rem 0 0 5.8rem;
        font-size: 1.6rem;
        line-height: 1.9rem;
    }
    /* stylinf of footer */
    footer {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    footer .logo {
        width: 100vw;
    }
    footer #logo {
        height: 3.9rem;
        margin: 9.2rem 0 0 8rem;
    }
    .contact {
        margin: 4rem 0 0 8.3rem;
    }
    footer nav {
        margin: 4rem 0 7rem 0;
    }
    .social-media {
        padding: unset;
        margin: 4rem 10rem 0 0;
    }
    .social-media div {
        margin-right: 1.25rem;
    }  
    /* stylinf of flex-box */
    .flex-box {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .flex-box h2 {
        padding: unset;
        margin: 10rem 0 1.7rem 8rem;
        font-size: 3.2rem;
        line-height: 4.8rem;
        text-align: left;
    }
    .flex-box p {
        font-size: 1.6rem;
        line-height: 2.4rem;
        letter-spacing: 0.05rem;
        max-width: 53.3rem;
        margin: 0 0 8.5rem 8rem;
        text-align: left;
        padding: unset;
    }
}

@media only screen and (min-width:1440px) {
    /* styling of main section */
    main .img-container {
        height: 30.9rem;
        width: 44.2rem;
        margin: 0 8rem;
        margin-left: 17.3rem;
    }
    .text-container-2 h2 {
        font-size: 4rem;
        line-height: 4.7rem;
        max-width: 65.2rem;
        margin: 0 0 2.2rem 8rem;
    }
    .text-container-2 > p {
        max-width: 52.9rem;
        margin: 1.6rem 0 0 8rem;
        font-size: 1.6rem;
        line-height: 2.4rem;
    }
    .link {
        padding-bottom: 0.6rem;
        margin: 1.5rem 0 5rem 8rem;
        font-size: 1.6rem;
        line-height: 2.2rem;
    }
    .card {
        margin-left: 8rem;
        width: 35.6rem;
        height: 21.5rem;
    } 
    .card p {
        font-size: 1.3rem;
        line-height: 2.3rem;
        margin-bottom: 1.8rem;
    }
    .avatar {
        font-size: 1.1rem;
        line-height: 1.5rem;
        letter-spacing: 0.055rem;
    }
    /* styling of intro */
    .intro .img-container {
        margin-left: 8rem;
        margin-top: 10rem;
    }
    .intro .text-container {
        margin-top: 16.3rem;
    }
    .intro h1 {
        margin: 0 0 1.5rem 8rem;
        max-width: 62.7rem;
        font-size: 4rem;
        line-height: 6rem;
    }
    .intro p {
        font-size: 1.7rem;
        line-height: 2.4rem;
        letter-spacing: 0.053125rem;
        margin: 0 0 2.5rem 8rem;
        max-width: 58.5rem;
    }
    .intro form {
        margin-left: 8rem;
    }
    
    .intro input {
        display: inline-block;
        width: 32rem;
        height: 4.5rem;
    }
    .intro button {
        display: inline-block;
        width: 20rem;
        height: 4.5rem;
    }

    /* styling of flexbox */
    .flex-box {
        align-items: flex-start;
        justify-content: space-around;
    }
    .flex-box form input {
        margin: 10rem 0 1.4rem 0;
        max-width: unset;
        width: 48rem;
        height: 4.8rem;
    }
    #submit-2 {
        width: 20rem;
        height: 4.8rem;
        font-size: 1.4rem;
        line-height: 1.6rem;
        box-shadow: 2px 3px 6px rgba(7, 4, 59, 0.157043);
        border-radius: 0.3125rem;
    }
    .flex-box form {
        margin-right: 12rem;
        margin-bottom: 8rem;
        text-align: left;
    } 

    /* styling of footer */
    .social-media {
        margin-right: 25rem;
    }

}
